@model WebSolveEquations2.Models.ContextSolveStrategy

@{
    ViewBag.Title = "Web Equations Solver";
}

<header>
    <h1>Welcome to the Web Solver Equations</h1>
</header>

<h3>Enter equations</h3>
<script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

@using (Ajax.BeginForm("GetResult", new AjaxOptions
{
    HttpMethod = "POST",
    //InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "results"
}))
{
    <textarea id="names1" name="names"></textarea>
            <br />

            <button class="button-solve" type="submit" value="Cramer's method">Solve </button>

}

<p class="result">Output</p>
<div class="result-box" id="results">

</div>
@*@using (Ajax.BeginForm("ClearResult", new AjaxOptions
    {
        HttpMethod = "POST",
        //InsertionMode = InsertionMode.Replace,
        //UpdateTargetId = "results"
    }))
    {
        <button>Clear</button>
    }*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@